
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Awesome iPhone App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/bootstrap-responsive.css" rel="stylesheet">
    <link href="css/iphoneapp.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Rokkitt:400,700|Graduate|Cutive|Wellfleet|Bevan' rel='stylesheet' type='text/css'>
    <script type="text/javascript">
        $(function() {
            $('.carousel').carousel({
                interval: 2000
            })
        });
    </script>
</head>

<body class="">
<div class="examples-links">
    <a href="index.html">White Landscape iPhone4s with Black Back and Facts</a>
    <a href="index-v2.html">Black Portrait iPhone5 with White Back and Texts</a>
    <a href="index-v3.html">White Portrait iPhone4s with Gray Back and Facts</a>
    <div class="clear"></div>
</div>
<div class="container iphone-container">
    <div class="iphone-portrait iphone-5 iphone-black">
        <h1>Awesome iPhone App</h1>
        <div class="iphone-block">
            <div class="iphone">
                <div id="myCarousel" class="iphone-screen carousel slide">
                    <div class="iphone-glare"></div>
                    <!-- Carousel items -->
                    <div class="carousel-inner">
                        <div class="active item"><img src="img/screens/iphone5-1.png" alt=""></div>
                        <div class="item"><img src="img/screens/iphone5-2.png" alt=""></div>
                        <div class="item"><img src="img/screens/iphone5-3.png" alt=""></div>
                    </div>
                    <!-- Carousel nav -->
                    <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
                    <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
                </div>
            </div>
            <div class="iphone-shadow"></div>
        </div>        <div class="description">
        <div class="features">
            <div class="feature"><div class="feature-inner">
                <h2>Cool</h2>
                <p>Lorem ipsum dolor sit amet hendrerit laoreet! Lobortis laoreet, ultricies tempus lacinia! Montes volutpat fermentum bibendum dapibus magnis sociosqu wisi sem. Nunc tellus pede tristique tempor Nam magna, mauris a Class pellentesque. Donec quis.</p>
            </div></div>
            <div class="feature"><div class="feature-inner">
                <h2>Popular</h2>
                <p>Lorem ipsum dolor sit amet Curabitur dis arcu pede hymenaeos cubilia ut fames id parturient. Ridiculus nisl mattis fringilla natoque, bibendum enim, Praesent hymenaeos dolor pede non. Etiam. Purus. Venenatis. Leo Sed fames sem.
                </p>
            </div></div>
            <div class="clear"></div>
            <div class="feature"><div class="feature-inner">
                <h2>Free</h2>
                <p>Lorem ipsum dolor sit amet interdum accumsan consequat Donec facilisis. Odio, Morbi augue Sed fermentum. Inceptos Proin euismod, lobortis facilisis Fusce metus velit Ut, a netus fermentum. Consectetuer pulvinar odio placerat mi habitasse, arcu.
                </p>
            </div></div>
            <div class="feature"><div class="feature-inner">
                <h2>Something</h2>
                <p>Lorem ipsum dolor sit amet, rhoncus orci. Eros In. Velit et eget eros pulvinar sollicitudin ultrices ridiculus congue sit, pulvinar platea, semper. Pharetra conubia ornare, consectetuer pulvinar velit facilisi tempus habitant. Lectus leo! Vel.
                </p>
            </div></div>
            <div class="clear"></div>
        </div>            <div class="buy-zone">
        <a class="btn btn-primary btn-large btn-appstore" href="#"><i class="icon-iphone"></i>Download from <span>AppStore</span></a>
    </div>
    </div>
    </div>
</div>
<div class="gradient-line gradient-line-before"></div>
<div class="container">
    <div class="response-line">
        <blockquote>
            <p>The biggest thing to happen to iPhone since iPhone</p>
            <small>Someone famous <cite title="IT Guru">IT Guru</cite></small>
        </blockquote>
    </div>
</div>
<div class="gradient-line gradient-line-after"></div>

<div class="container">
    <div class="row">
        <div class="span3">
            <h3>Brand new</h3>
            <div class="column-picture">
                <img src="img/screens/screen-1.jpg" alt="">
            </div>
            <div class="column-picture-sign">Some fun picture description</div>
            <p>Lorem ipsum dolor sit amet interdum accumsan consequat Donec facilisis. Odio, Morbi augue Sed fermentum. Inceptos Proin euismod, lobortis facilisis Fusce metus velit Ut, a netus fermentum. Consectetuer pulvinar odio placerat mi habitasse, arcu.</p>
        </div>
        <div class="span3">
            <h3>Smart</h3>
            <p>Lorem ipsum dolor sit amet, rhoncus orci. Eros In. Velit et eget eros pulvinar sollicitudin ultrices ridiculus congue sit, pulvinar platea, semper. Pharetra conubia ornare, consectetuer pulvinar velit facilisi tempus habitant. Lectus leo! Vel.</p>
            <div class="column-picture-sign">Another description</div>
            <div class="column-picture">
                <img src="img/screens/screen-2.jpg" alt="">
            </div>
        </div>
        <div class="span3">
            <h3>Full</h3>
            <div class="column-picture">
                <img src="img/screens/screen-3.jpg" alt="">
            </div>
            <div class="column-picture-sign">Lorem ipsum dolor sit amet, rhoncus orci. Eros In.</div>
            <p>Lorem ipsum dolor sit amet interdum accumsan consequat Donec facilisis. Odio, Morbi augue Sed fermentum. Inceptos Proin euismod, lobortis facilisis Fusce metus velit Ut, a netus fermentum. Consectetuer pulvinar odio placerat mi habitasse, arcu.</p>
        </div>
        <div class="span3">
            <h3>Beautiful</h3>
            <p>Lorem ipsum dolor sit amet, rhoncus orci. Eros In. Velit et eget eros pulvinar sollicitudin ultrices ridiculus congue sit, pulvinar platea, semper. Pharetra conubia ornare, consectetuer pulvinar velit facilisi tempus habitant. Lectus leo! Vel.</p>
            <div class="column-picture">
                <img src="img/screens/screen-4.jpg" alt="">
            </div>
            <div class="column-picture-sign">Lorem ipsum dolor sit amet, rhoncus orci. Eros In.</div>
        </div>
    </div>
</div>
<div class="gradient-line gradient-line-before"></div>
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="span9"></div>
            <div class="span3">&copy; 2012, Awsm Inc.</div>
        </div>
    </div>
</footer>
</body>
</html>